@media (max-width: 540px){
    .form-group {
        display: block;
    }
    form {
      margin: auto;
      padding-left: 0rem;
      width: 85%;
      padding-right: 0rem;
    }
  }
@media (min-width: 992px){
    .form-group {
        display: flex;
    }
    form {
      margin: auto;
      padding-left: 0rem;
      width: 85%;
      padding-right: 0rem;
    }
  }


.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}





input#FormControl7, #FormControl8 {
    width: 100%;
  }
select#ControlSelect1, #ControlSelect2, #ControlSelect3 {
    width: fit-content;
  } 
  
  .form-control::placeholder {
    color: white!important;
  }
  
  .form-control {
    margin-right: 2rem;
    margin-top: 1rem;
    background: #000000b3!important;
    text-align: left;
    border: none;
    color: white!important;
  }
  .bg-dark{
    float: left;
    bottom: 0;
    top: 0;
  }
  .form-group {
    width: auto;
    text-align: center;
    align-items: center;
  }
  .form-group.submit-button {
    text-align: center;
    margin: auto;
    width: fit-content;
    padding-top: 3rem;
  }
  .form-group.submit-button button {
    width: 100%;
  }
  label {
    margin-bottom: 0.5rem;
    margin-top: 1.25rem;
    margin-right: 0.8rem;
    color: white;
    font-weight: 500;
    min-width: fit-content;
    float: left;
    text-shadow: 0px 1px 13px black;
  }